<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.trainapp">

    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature"
        />

    <application
        android:name="com.trainapp.networking.VidtrainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <activity
            android:name="com.trainapp.activities.LogInActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="vidtrain"
            />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="vidtrainmasterkey"
            />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9ba9282424d60bca2b371ddeb7921c49f7582043"
            />
        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/notif_icon_transparent"
            />
        <activity
            android:name="com.trainapp.activities.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <data
                    android:host="home"
                    android:scheme="train"
                    />
            </intent-filter>
        </activity>
        <activity
            android:name="com.trainapp.activities.VidTrainDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName="com.trainapp.activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <data
                    android:host="detail"
                    android:scheme="train"
                    />
            </intent-filter>
        </activity>
        <activity
            android:name="com.trainapp.activities.CreationDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.trainapp.activities.VideoCaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.trainapp.activities.FriendListActivity"
            android:configChanges="orientation|keyboardHidden"
            />

        <service android:name="com.parse.PushService"/>
        <receiver
            android:name="com.trainapp.utilities.PushMessageBroadcast"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE"/>
                <action android:name="com.parse.push.intent.DELETE"/>
                <action android:name="com.parse.push.intent.OPEN"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
                  android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>

                <category android:name="com.trainapp"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.parse.push.gcm_sender_id"
            android:value="id:452312077295" />
    </application>
</manifest>
